@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Mono";
}

body {
  padding: 10rem 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #f1f5f9;
}

button {
  padding: .5rem 1rem;
  cursor: pointer;
  color: #f1f5f9;
  border: none;
  background-color: #7e459b;
}

button:hover {
  background-color: #713d8b;
}

#cryptoanalysis-set,
#to-encrypt-set,
#to-decrypt-set {
  display: flex;
  gap: 1rem;
}

textarea {
  height: 3rem;
  padding: 10px;
}